# строки начинающиеся на # - это комментарии, они не учитываются


# игнорировать все файлы в подкаталоге tmp/
tmp/

# исключить все файлы с суфиксами _old
*_old

# исключить все файлы с суфиксами _backup
*_backup

# игнорировать файл Thumbs.db
*Thumbs.db

# игнорировать файл .DS_Store
*.DS_Store
